
 $primary : #0064d2;
 $secondary : #5e50bf;
 $ternary : #61DAFB;
 $heading : #935189;
 $text : #aaaaaa;
 $subheading : #878C93;
 $black: #000000;
 $white: #ffffff;
 $lightGray: #aaaaaa;
 $headerBackgrond : rgb(50, 58, 86);
 $purple: #5E50BF;
 
