.enquiry-container {
    overflow: auto;
    color: $white;
    ba: $white;
    height: 100%;
    text-align: center;
    color: $black;

    .form-wrapper{
        max-width: 500px;
        border: 1px solid $lightGray;
        padding: 20px;
        border-radius: 10px;
        margin-top: 20px;
    }
    .form-title{
        text-align: center;
        font-size: 14px;
        margin-top: 10px;
    }
    .badge-title {
        text-align: center;
        font-size: 25px;
    }
}

