.header-container{
  width: 100%;
  a {
    transition: all 0.3s linear;
    text-decoration: none;
    color: $lightGray;
  }
  a:hover{
    color: $white;
  }
  a.active {
    background-color: $ternary;
    color:$black;
    transition: all 0.3s linear;
  }
  .link-label{
    padding: 10px 30px;
    border-radius: 10px;
  }
  .header-logo{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-left: 30px;
  }
  .bg-dark{
    background: $headerBackgrond !important;
  }
}
