.services-container {
    overflow: auto;
    color: $black;
    height: 100%;
    text-align: center;
    background: #e9ecef;

    .badge-title {
        text-align: center;
        font-size: 25px;
    }
    .form-wrapper {
        max-width: 800px;
        box-shadow: 0px 0px 6px -2px rgb(185, 182, 182) !important;
        padding: 20px;
        border-radius: 10px;
        margin-top: 20px;
        background-color: $white;
    }
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
        color: #495057;
        background-color: #fafafa;
        font-size: 1rem;
    }
    .nav-tabs .nav-link {
        font-size: 1rem;
    }
    .nav-data {
        // display: flex;
        // justify-content: inherit;
        padding: 25px;
        background-color: #fafafa;
        border: 0.2px solid #dee2e6;
        border-top: none;
        color: #495057;
        font-size: 17px;
        img {
            width: 15px;
        }
    }
    .item-key {
        text-align: initial;
    }
}

@media (max-width: 770px) {
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
        color: #495057;
        background-color: #fafafa;
        font-size: 1rem;
        border: 0.2px solid #dee2e6;
        border-radius: none !important;
    }
    .services-container .nav-tabs .nav-link {
        font-size: 1rem;
        border: 0.2px solid #dee2e6;
    }
}
